html, body{
  box-sizing: border-box;
}
*{
  box-sizing: inherit;
}
body {
  margin: 0px;
  background-image: url('/assets/bg.jpg');
}
#header{
  padding: 30px;
  background-image: url('../assets/logo.svg');
  background-color: white;
  background-repeat: no-repeat;
  margin: auto;
}
.title{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  height: 75px;
  padding: 10px;
}
*{
  border: 1px solid rgb(245, 246, 246);
}
#nav{
  background-color: rgb(68, 64, 64);
}
.ulNav{
  text-align: center;
  list-style-type: none;
}
.li{
  font-family: 'Oswald', sans-serif;
  display: inline;
  color: rgb(129, 126, 126);

}
#contentContainer{
  margin: auto;
  width: 1000px;
  padding: 50px;
}
.cardContainer{
  text-align: center;
}
.content{
  margin: auto;
  display: inline-block;
  border: 1px solid blue;
  background-color: white;
  height: 400px;
  width: 324px;
  padding: 10px;
  overflow: hidden;
}
.image{
  max-width: 275px;
  max-height: 167px;
}
.contentTitle{
  border: 1px solid green;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
.author{
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  width: 100px;
}
.views{
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  width: 50px;
  float: right;
}
.description{
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}
#footer{
  text-align: center;
}