html, body{
  box-sizing: border-box;
}
*{
  box-sizing: inherit;
}
body {
  margin: 0px;
  background-image: url('/assets/bg.jpg');
}
#header{
  background-image: '/assets/header_bg.svg'
}
.title{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  height: 75px;
  padding: 10px;
}
*{
  border: 1px solid rgb(34, 33, 33);
}
.ulNav{
  background-color: rgb(51, 44, 44);
  text-align: center;
  list-style-type: none;
}
.li{
  font-family: 'Oswald', sans-serif;
  display: inline;
}
#contentContainer{
  margin: auto;
  width: 1000px;
  padding: 50px;
}
.content{
  border: 1px solid blue;
  height: 400px;
  width: 324px;
  padding: 12px;
}
.image{
  max-width: 100%;
  max-height: 100%;
}
.contentTitle{
  border: 1px solid green;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
.author{
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  width: 100px;
}
.views{
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  width: 50px;
  float: right;
}
.description{

}