html, body {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

body {
  margin: 0px;
  background-image: url("/assets/bg.jpg"); }

#header {
  padding: 30px;
  background-image: url("../assets/logo.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center; }

.title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 75px;
  padding: 10px; }

#nav {
  background-color: #444040; }

.ulNav {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0.5rem; }

.li {
  font-family: 'Oswald', sans-serif;
  display: inline;
  color: #817e7e;
  padding-right: 1rem; }

.li:hover {
  transition: background-color .5s;
  color: #da820f; }

#contentContainer {
  margin: auto;
  width: 1000px;
  padding: 50px; }

.cardContainer {
  text-align: center; }

.content {
  margin: 12px;
  display: inline-block;
  background-color: white;
  height: 400px;
  width: 324px;
  padding: 10px;
  overflow: hidden; }

.content:hover {
  transition: background-color .5s;
  border: 7px solid #da820f; }

.image {
  max-width: 275px;
  max-height: 167px; }

.contentTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 15px; }

.author {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  width: 100px; }

.views {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  width: 50px;
  float: right; }

.description {
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 12px; }

#footer {
  text-align: center; }

#facebook:hover {
  background: blue; }

#instagram:hover {
  background: #ff9305; }

@media screen and (max-width: 480px) {
  body {
    width: 100%; }
  .cardContainer {
    height: 100%;
    width: 450px; }
  .image {
    height: 250px;
    width: 408px; }
  #contentContainer {
    padding: 0px;
    width: auto; }
  .content {
    width: 438px;
    margin-bottom: 8px; }
  #header {
    background-position: left; } }
